In [116]:
import pandas as pd

In [117]:
raw_data = pd.read_csv(r'venv\university_data.csv',encoding='latin1')

In [118]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     90 non-null     int64
 1   Institution              90 non-null     object
 2   Location                 90 non-null     object
 3   Continent                90 non-null     object
 4   Founded                  90 non-null     object
 5   Affiliation              90 non-null     object
 6   Distance / In-Person[a]  90 non-null     object
 7   Enrollment               90 non-null     object
 8   Ref                      90 non-null     object
dtypes: int64(1), object(8)
memory usage: 6.5+ KB

In [119]:
raw_data.head()

,Rank,Institution,Location,Continent,Founded,Affiliation,Distance / In-Person[a],Enrollment,Ref
0,1,Indira Gandhi National Open University,"New Delhi, India",Asia,1985,Public,Distance/In-Person,"7,140,000+",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
1,2,"National University, Bangladesh","Gazipur, Bangladesh",Asia,1992,Public,In-Person,"3,425,832",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
2,3,Anadolu University,"EskiÅehir, Turkey",Asia,1958,Public,Distance/In-Person,"1,974,343",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
3,4,California Community Colleges,"California, United States",North America,1967,Public,In-Person,"1,800,000",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
4,5,Islamic Azad University,Iran,Asia,1982,Private,In-Person,"1,778,000",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...

In [120]:
raw_data['Founded'].values

array(['1985', '1992', '1958', '1967', '1982', '1974', '1999', '1992',
       '1984', '1948 and 2014', '1948', '1965', '1857', '1971', '2002',
       '1857', '1959', '1882', '1982', '1954', '2007', '1922', '1987',
       '1995', '1873', '1948', '1551', '1939', '1931', '1821', '1995',
       '1918', '1972', '1998', '1908', '1869', '1961', '1789', '1881',
       '1970', '1791', '1933', '1969', '1992', '1970', '1894', '1977',
       '1976', '1965', '1936', '1538 (reopened 1914)', '1950', '1836',
       '1932', '1862', '1848', '1956', '2009', '1972', '2000', '1991',
       '1303', '1988', '1849', '1972', '1998', '1676', '2007', '1990',
       '1876', '1613', '1982', '1971', '1229', '1968', '2002', '1995',
       '1808', '1365', '1943', '1827', '1925', '1904', '1293', '2012',
       '1409', '1974', '1878', '1908', '1980'], dtype=object)

In [121]:
raw_data['Founded']= raw_data['Founded'].str.extract(r'(\d+)')

In [122]:
raw_data['Founded'].values

array(['1985', '1992', '1958', '1967', '1982', '1974', '1999', '1992',
       '1984', '1948', '1948', '1965', '1857', '1971', '2002', '1857',
       '1959', '1882', '1982', '1954', '2007', '1922', '1987', '1995',
       '1873', '1948', '1551', '1939', '1931', '1821', '1995', '1918',
       '1972', '1998', '1908', '1869', '1961', '1789', '1881', '1970',
       '1791', '1933', '1969', '1992', '1970', '1894', '1977', '1976',
       '1965', '1936', '1538', '1950', '1836', '1932', '1862', '1848',
       '1956', '2009', '1972', '2000', '1991', '1303', '1988', '1849',
       '1972', '1998', '1676', '2007', '1990', '1876', '1613', '1982',
       '1971', '1229', '1968', '2002', '1995', '1808', '1365', '1943',
       '1827', '1925', '1904', '1293', '2012', '1409', '1974', '1878',
       '1908', '1980'], dtype=object)

In [123]:
raw_data['Enrollment'].values

array(['7,140,000+', '3,425,832', '1,974,343', '1,800,000', '1,778,000',
       '1,027,000', '875,000', '650,000', '646,467', '620,000 (2019)',
       '665,000', '560,000[citation needed]', '549,432', '525,000',
       '515,000', '457,992', '454,065 (2021/22)', '450,000', '450,000',
       '430,000', '429,310', '700,000', '400,000', '390,000', '370 000',
       '363,612', '356,530', '350,000', '318,027', '316,050', '300,000',
       '300,000', '260,079', '260,000', '257,200', '256,000', '243,000',
       '242,000', '221,337', '215,000', '209,406', '206,000', '205,420',
       '200,000', '191,567', '189,351', '180,000', '177,234', '175,000',
       '171,581', '170,530', '170,000 (Undergraduates Only)', '170,000',
       '170,000', '163,786', '162,933', '160,957', '152,000', '151,413',
       '150,000', '150,000', '147,000', '144,363', '144,108', '130,000',
       '130,000', '124,000', '120,000', '116,782', '114,691', '113,558',
       '110,428', '110,000', '110,000', '101,915', '100,000', '98,648',
       '97,696', '91,715', '91,200', '88,766', '88,283', '83,328',
       '83,000', '80,000', '80,000', '69,982', '67,109', '64,144',
       '60,000'], dtype=object)

In [124]:
raw_data['Enrollment']=raw_data['Enrollment'].str.replace(r'\(.*?\)',"",regex=True).replace(r'\[.*?\]',"",regex=True).str.replace('+', "")

In [125]:
raw_data['Enrollment'].values

array(['7,140,000', '3,425,832', '1,974,343', '1,800,000', '1,778,000',
       '1,027,000', '875,000', '650,000', '646,467', '620,000 ',
       '665,000', '560,000', '549,432', '525,000', '515,000', '457,992',
       '454,065 ', '450,000', '450,000', '430,000', '429,310', '700,000',
       '400,000', '390,000', '370 000', '363,612', '356,530', '350,000',
       '318,027', '316,050', '300,000', '300,000', '260,079', '260,000',
       '257,200', '256,000', '243,000', '242,000', '221,337', '215,000',
       '209,406', '206,000', '205,420', '200,000', '191,567', '189,351',
       '180,000', '177,234', '175,000', '171,581', '170,530', '170,000 ',
       '170,000', '170,000', '163,786', '162,933', '160,957', '152,000',
       '151,413', '150,000', '150,000', '147,000', '144,363', '144,108',
       '130,000', '130,000', '124,000', '120,000', '116,782', '114,691',
       '113,558', '110,428', '110,000', '110,000', '101,915', '100,000',
       '98,648', '97,696', '91,715', '91,200', '88,766', '88,283',
       '83,328', '83,000', '80,000', '80,000', '69,982', '67,109',
       '64,144', '60,000'], dtype=object)

In [126]:
raw_data.head()

,Rank,Institution,Location,Continent,Founded,Affiliation,Distance / In-Person[a],Enrollment,Ref
0,1,Indira Gandhi National Open University,"New Delhi, India",Asia,1985,Public,Distance/In-Person,"7,140,000",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
1,2,"National University, Bangladesh","Gazipur, Bangladesh",Asia,1992,Public,In-Person,"3,425,832",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
2,3,Anadolu University,"EskiÅehir, Turkey",Asia,1958,Public,Distance/In-Person,"1,974,343",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
3,4,California Community Colleges,"California, United States",North America,1967,Public,In-Person,"1,800,000",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
4,5,Islamic Azad University,Iran,Asia,1982,Private,In-Person,"1,778,000",https://en.wikipedia.org/wiki/Indira_Gandhi_Na...

In [127]:
raw_data['Enrollment']=raw_data['Enrollment'].str.replace(',','').str.replace(' ','')

In [128]:
raw_data['Enrollment'].values

array(['7140000', '3425832', '1974343', '1800000', '1778000', '1027000',
       '875000', '650000', '646467', '620000', '665000', '560000',
       '549432', '525000', '515000', '457992', '454065', '450000',
       '450000', '430000', '429310', '700000', '400000', '390000',
       '370000', '363612', '356530', '350000', '318027', '316050',
       '300000', '300000', '260079', '260000', '257200', '256000',
       '243000', '242000', '221337', '215000', '209406', '206000',
       '205420', '200000', '191567', '189351', '180000', '177234',
       '175000', '171581', '170530', '170000', '170000', '170000',
       '163786', '162933', '160957', '152000', '151413', '150000',
       '150000', '147000', '144363', '144108', '130000', '130000',
       '124000', '120000', '116782', '114691', '113558', '110428',
       '110000', '110000', '101915', '100000', '98648', '97696', '91715',
       '91200', '88766', '88283', '83328', '83000', '80000', '80000',
       '69982', '67109', '64144', '60000'], dtype=object)

In [129]:
raw_data['Founded']= raw_data['Founded'].astype('int')

raw_data['Enrollment']= raw_data['Enrollment'].astype('int')

In [130]:
#df['last_word'] = df['text'].str.split(',').str[-1].str.strip()
raw_data['Country']=raw_data['Location'].str.split(',').str[-1].str.strip()

In [131]:
raw_data.head()

,Rank,Institution,Location,Continent,Founded,Affiliation,Distance / In-Person[a],Enrollment,Ref,Country
0,1,Indira Gandhi National Open University,"New Delhi, India",Asia,1985,Public,Distance/In-Person,7140000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,India
1,2,"National University, Bangladesh","Gazipur, Bangladesh",Asia,1992,Public,In-Person,3425832,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Bangladesh
2,3,Anadolu University,"EskiÅehir, Turkey",Asia,1958,Public,Distance/In-Person,1974343,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Turkey
3,4,California Community Colleges,"California, United States",North America,1967,Public,In-Person,1800000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,United States
4,5,Islamic Azad University,Iran,Asia,1982,Private,In-Person,1778000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Iran

In [132]:
#df['all_but_last'] = df['text'].str.split(',').apply(lambda x: ', '.join(x[:-1])).str.strip()

raw_data['City']=raw_data['Location'].str.split(',').apply(lambda x: ', '.join(x[:-1])).str.strip()
raw_data['City']

0      New Delhi
1        Gazipur
2     EskiÅehir
3     California
4
         ...
85     Marseille
86         Hagen
87
88
89
Name: City, Length: 90, dtype: object

In [133]:
raw_data.head()

,Rank,Institution,Location,Continent,Founded,Affiliation,Distance / In-Person[a],Enrollment,Ref,Country,City
0,1,Indira Gandhi National Open University,"New Delhi, India",Asia,1985,Public,Distance/In-Person,7140000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,India,New Delhi
1,2,"National University, Bangladesh","Gazipur, Bangladesh",Asia,1992,Public,In-Person,3425832,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Bangladesh,Gazipur
2,3,Anadolu University,"EskiÅehir, Turkey",Asia,1958,Public,Distance/In-Person,1974343,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Turkey,EskiÅehir
3,4,California Community Colleges,"California, United States",North America,1967,Public,In-Person,1800000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,United States,California
4,5,Islamic Azad University,Iran,Asia,1982,Private,In-Person,1778000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Iran,

In [134]:
raw_data.drop('Location',axis=1,inplace=True)

In [135]:
raw_data.head()

,Rank,Institution,Continent,Founded,Affiliation,Distance / In-Person[a],Enrollment,Ref,Country,City
0,1,Indira Gandhi National Open University,Asia,1985,Public,Distance/In-Person,7140000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,India,New Delhi
1,2,"National University, Bangladesh",Asia,1992,Public,In-Person,3425832,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Bangladesh,Gazipur
2,3,Anadolu University,Asia,1958,Public,Distance/In-Person,1974343,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Turkey,EskiÅehir
3,4,California Community Colleges,North America,1967,Public,In-Person,1800000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,United States,California
4,5,Islamic Azad University,Asia,1982,Private,In-Person,1778000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...,Iran,

In [136]:
raw_data.columns

Index(['Rank', 'Institution', 'Continent', 'Founded', 'Affiliation',
       'Distance / In-Person[a]', 'Enrollment', 'Ref', 'Country', 'City'],
      dtype='object')

In [145]:
new_column=['rank', 'institution', 'year_founded', 'affiliation','delivery_method', 'enrollment', 'city', 'country', 'continent', 'link']
raw_data.columns=new_column
raw_data.columns

Index(['rank', 'institution', 'year_founded', 'affiliation', 'delivery_method',
       'enrollment', 'city', 'country', 'continent', 'link'],
      dtype='object')

In [150]:
raw_data['delivery_method'] = raw_data['delivery_method'].str.strip().str.lower()

# Replace patterns to group into 3 main options
raw_data['delivery_method'] = raw_data['delivery_method'] .replace({
    r'.*distance.*in.*person.*': 'Hybrid',
    r'.*in[\s-]*person.*': 'In-Person',
    r'.*distance.*': 'Distance'
}, regex=True)

# Capitalize final values
raw_data['delivery_method']  = raw_data['delivery_method'] .str.title()

In [151]:
raw_data['delivery_method'].unique()

array(['Hybrid', 'In-Person', 'Distance'], dtype=object)

In [154]:
raw_data.to_csv('cleaned_university_data.csv',index=False)